numpy
pandas
category_encoders
matplotlib
seaborn
tensorflow
scikit-learn
django-debug-toolbar
torch
flask
transformers
openai
sentencepiece
tf_agents
opencv-contrib-python
ipython
gym
gym[atari]
baselines
