numpy
pandas
category_encoders
matplotlib
seaborn
tensorflow
keras_cv
scikit-learn
django-debug-toolbar
torch
flask
transformers
openai
sentencepiece
tf_agents
opencv-contrib-python
ipython
gym
opencv-python
imageio
resource
python-resources
tensorflow-datasets
# xvfbwrapper
# gym[atari]
# baselines
# tf-agents[reverb]
# pyvirtualdisplay
geopandas
learntools
folium
geopy
pytube
pytube.